/* ------GENERAL-------------------- */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #333;
}

.container {
  width: 1280px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.section-heading {
  display: inline-block;
  color: #445161;
  font-size: 1.875rem;
  margin-top: 0;
  margin-bottom: 30px;
  height: 1.75rem;
  width: 100%;
  text-align: center;
}

/* ------HEADER-------------------- */
.main-header {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
  color: #fff;
  font-family: Arial;
}

.main-header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-header-wrp {
  width: 46%;
  float: left;
}

.main-header-title {
  display: inline-block;
  margin-bottom: 50px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 3.75rem;
  line-height: 74%;
}

.main-header-list {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  line-height: 170%;
}

.main-header-list li {
  list-style-type: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.main-header-list li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 19px;
  margin-right: 10px;
  background-image: url("../img/check_icon.png");
  background-size: contain;
  -webkit-background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header-img {
  display: block;
  width: 39.746%;
  min-height: 214px;
  float: right;
  background-color: #fff;
}

/* ------SECTION ABOUT-------------------- */
.about {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.about::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.about-wrp {
  width: 56.695%;
  float: left;
}

.about .section-heading {
  text-align: left;
}

.about-wrp p {
  margin-top: 0;
  margin-bottom: 20px;
}

.about-video {
  display: block;
  width: 36.441%;
  min-height: 245px;
  float: right;
  background-color: #445161;
  object-fit: cover;
  outline: none;
}

/* ------SECTION DIGNITY-------------------- */
.dignity {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.dignity-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dignity-details {
  width: 49%;
  position: relative;
}

.dignity-details:not(:nth-of-type(5)):not(:nth-of-type(6)) {
  margin-bottom: 26px;
}

.dignity-details p {
  padding-left: 2.5625rem;
  margin: 0;
}

.dignity-details-summary {
  display: block;
  /* hide default arrows_Firefox*/
  padding-left: 2.5625rem;
}

/* hide default arrows_all browsers except Firefox*/
.dignity-details-summary::-webkit-details-marker {
  display: none;
}

.dignity-details-summary::before {
  content: "";
  left: 0;
  top: 0.3em;
  position: absolute;
  background: url("../img/plus_icon.png") #445161 no-repeat 50% 50%;
  width: 2em;
  height: 2em;
}

.dignity-details-summary:focus {
  outline: none;
}

.dignity-details[open] .dignity-details-summary::before {
  background: url("../img/minus_icon.png") #445161 no-repeat 50% 50%;
}

/* ------SECTION SCREENSHOTS-------------------- */
.screenshots {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.screenshots-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshots-content {
  padding: 0;
  margin: 0;
  width: 48.645%;
}

.screenshots-content:not(:nth-of-type(3)):not(:nth-of-type(4)) {
  margin-bottom: 30px;
}

.screenshots-content::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.screenshots-img {
  display: block;
  background-color: #445161;
  width: 34.845%;
  min-height: 150px;
  margin-right: 15px;
  float: left;
}

.screenshots-text {
  float: left;
  width: 62.544%;
  min-height: 150px;
}

.screenshots-text span {
  display: inline-block;
  height: 23px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #445161;
  font-size: 1.5rem;
}

.screenshots-text p {
  margin: 0;
}

/* ------SECTION REVIEWS-------------------- */
.reviews {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.reviews-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews-item {
  width: 48.645%;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.reviews-item:not(:nth-of-type(3)):not(:nth-of-type(4)) {
  margin-bottom: 24px;
}

.userpic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 1.5rem;
  float: left;
}

.user-1 {
  background: url("../img/reviews_pics/al-pacino.jpeg") no-repeat 50% 50% #445161;
}

.user-2 {
  background: url("../img/reviews_pics/natalie-portman.jpeg") no-repeat 50% 50% #445161;
}

.user-3 {
  background: url("../img/reviews_pics/susan-sarandon.jpeg") no-repeat 50% 0 #445161;
}

.user-4 {
  background: url("../img/reviews_pics/johnny-depp.jpeg") no-repeat 50% 10% #445161;
}

.reviews-blockquote {
  box-sizing: border-box;
  width: 84.147%;
  margin: 0;
  background-color: #ebebeb;
  border-radius: 6px;
  font-size: 0.875rem;
  line-height: 128%;
  padding: 16px 20px;
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
}

.reviews-blockquote::before {
  content: "";
  position: absolute;
  top: 27.5px;
  left: -25px;
  border: 15px solid transparent;
  border-right: 15px solid #ebebeb;
}

.reviews-blockquote p {
  font-style: italic;
  min-height: 64px;
  margin: 0 0 15px;
}

.reviews-blockquote cite {
  font-style: normal;
  color: #989898;
  display: inline-block;
  margin: 0;
}

/* ------SECTION BUY IT-------------------- */
.buy {
  width: 100%;
  padding: 50px 145px;
  box-sizing: border-box;
}

.buy-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.buy-item {
  box-sizing: border-box;
  width: 30.304%;
  background-color: #445162;
  border: 4px solid #445162;
  border-radius: 6px;
}

.buy-item-name {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  line-height: 125%;
  text-align: center;
  padding: 0.6667em 0;
  margin: 0;
}

.buy-item-price {
  display: block;
  width: 100%;
  color: #445162;
  font-size: 2.5rem;
  line-height: 75%;
  text-align: center;
  background-color: #fff;
  padding: 0.45em 0 0.45em;
  margin: 0;
}

.buy-item-features {
  padding: 1.4286em;
  margin: 0;
  list-style-position: inside;
  font-size: 0.875rem;
  color: #fff;
}

.btn {
  background: none;
  outline: none;
  text-decoration: none;
  padding: 0.5em;
  display: flex;
  width: 80%;
  margin: 0 auto 1.1111em;
  background-color: #fff;
  color: #445161;
  font-size: 1.125rem;
  border-radius: 6px;
  border: 1px solid transparent;
}

.btn span {
  margin: auto;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #445161;
  border: 1px solid #fff;
  color: #fff;
}

.btn:active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #445161;
}

/* ------SECTION CONTACTS-------------------- */
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 50px 249px 50px 246px;
  box-sizing: border-box;
  background-color: #445161;
}

.main-footer-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.main-footer .section-heading {
  color: #fff;
}

.main-footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 63.695%;
}

.main-footer-form input[type="text"],
.main-footer-form input[type="email"],
.main-footer-form textarea {
  width: 100%;
  margin-bottom: 1.375em;
  padding: 0.5em;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #445162;
  font-family: inherit;
  /*remove the default textarea font-style in Firefox*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.main-footer-form textarea {
  height: 61.8%;
  outline: none;
  resize: none;
}

/* Remove the default red outline in Firefox: */
.main-footer-form input:required {
  box-shadow: none;
}

.main-footer-form input[type="text"]:hover,
.main-footer-form input[type="email"]:hover,
.main-footer-form textarea:hover {
  background-color: #445162;
  color: #fff;
}

.main-footer-form input[type="text"]::-webkit-input-placeholder,
.main-footer-form input[type="email"]::-webkit-input-placeholder,
.main-footer-form textarea::-webkit-input-placeholder {
  color: #445162;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  transition: opacity 0.5s ease;
  text-transform: none;
}

.main-footer-form input[type="text"]::-moz-placeholder,
.main-footer-form input[type="email"]::-moz-placeholder,
.main-footer-form textarea::-moz-placeholder {
  color: #445162;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  transition: opacity 0.5s ease;
  text-transform: none;
}

.main-footer-form input[type="text"]:-moz-placeholder,
.main-footer-form input[type="email"]:-moz-placeholder,
.main-footer-form textarea:-moz-placeholde {
  color: #445162;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  transition: opacity 0.5s ease;
  text-transform: none;
}

.main-footer-form input[type="text"]:-ms-input-placeholder,
.main-footer-form input[type="email"]:-ms-input-placeholder,
.main-footer-form textarea:-ms-input-placeholder {
  color: #445162;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  transition: opacity 0.5s ease;
  text-transform: none;
}

.main-footer-form input[type="text"]:hover::-webkit-input-placeholder,
.main-footer-form input[type="email"]:hover::-webkit-input-placeholder,
.main-footer-form textarea:hover::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.8s ease;
}

.main-footer-form input[type="text"]:focus::-webkit-input-placeholder,
.main-footer-form input[type="email"]:focus::-webkit-input-placeholder,
.main-footer-form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.main-footer-form input[type="text"]:hover::-moz-placeholder,
.main-footer-form input[type="email"]:hover::-moz-placeholder,
.main-footer-form textarea:hover::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.8s ease;
}

.main-footer-form input[type="text"]:focus::-moz-placeholder,
.main-footer-form input[type="email"]:focus::-moz-placeholder,
.main-footer-form textarea:focus::-moz-placeholder {
  opacity: 0;
}

.main-footer-form input[type="text"]:hover:-moz-placeholder,
.main-footer-form input[type="email"]:hover:-moz-placeholder .main-footer-form textarea:hover:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.8s ease;
}

.main-footer-form input[type="text"]:focus:-moz-placeholder,
.main-footer-form input[type="email"]:focus:-moz-placeholder .main-footer-form textarea:focus:-moz-placeholder {
  opacity: 0;
}

.main-footer-form input[type="text"]:hover:-ms-input-placeholder,
.main-footer-form input[type="email"]:hover:-ms-input-placeholder,
.main-footer-form textarea:hover:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.8s ease;
}

.main-footer-form input[type="text"]:focus:-ms-input-placeholder,
.main-footer-form input[type="email"]:focus:-ms-input-placeholder,
.main-footer-form textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.main-footer-form input[type="submit"] {
  border-radius: 5px;
  background-color: #ffffff;
  width: 31.2%;
  padding: 0.5em;
  margin: 0 auto;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #445162;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  outline: none;
}

.main-footer-form input[type="submit"]:hover {
  background-color: #445162;
  color: #fff;
}

.main-footer-form input[type="submit"]:active {
  background-color: #fff;
  color: #445162;
}

.main-footer-contacts {
  width: 34%;
  height: 300px;
}

.main-footer-contacts-list {
  list-style-type: none;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  position: relative;
}

.main-footer-contacts-list li {
  display: inline-block;
  margin-bottom: 1.125rem;
}

.main-footer-contacts-list li:last-child {
  margin-bottom: 0;
}

.main-footer-contacts-list li::before {
  content: "";
  left: 0;
  position: absolute;
  width: 1.625em;
  height: 1.625em;
}

.main-footer-contacts-list li:nth-child(1)::before {
  top: -0.3em;
  background: url("../img/contacts/skype_icon.png") no-repeat 50% 50%;
}

.main-footer-contacts-list li:nth-child(2)::before {
  top: 2.5em;
  background: url("../img/contacts/icq_icon.png") no-repeat 50% 50%;
}

.main-footer-contacts-list li:nth-child(3)::before {
  top: 5.1em;
  background: url("../img/contacts/email_icon.png") no-repeat 50% 50%;
}

.main-footer-contacts-list li:nth-child(4)::before {
  top: 7.6em;
  background: url("../img/contacts/phone_icon.png") no-repeat 50% 50%;
}

.main-footer-contacts-list a {
  color: #fff;
  text-decoration: none;
}

.main-footer-contacts-list a:hover {
  opacity: 0.5;
}

.main-footer-social_media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.625rem;
}

.main-footer-social_media .icon {
  color: #fff;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background-size: contain; 
 }

.main-footer-social_media .icon:hover {
  opacity: 0.5;
}

.footer {
  background-color: #f5f5f5;
  text-align: center;
}
.footer span {
  display: block;
  color: #445162;
  font-size: 0.75rem;
  margin-top: 2px;
  margin-bottom: 5px;
}
